.todo_item {
  display: flex;
}


.iconLInk {

}

.icon {
  height: 1.2em;
  position: relative;
  top: 3px;
  margin-right: .5em;
}
.content {
  flex-grow: 1;
}

.trashButton {
  background: none;
  border: none;
}

.trashCan {
  height: 1.2em;
  flex-grow: 0;
}